<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Global Area</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../static/datadriver/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{/datadriver/plugins/bootstrap/css/bootstrap.min.css}"/>

    <link href="../../static/datadriver/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"
          type="text/css" th:href="@{/datadriver/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"/>

    <link href="../../static/datadriver/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"
          th:href="@{/datadriver/plugins/select2/css/select2.min.css}"/>
    <link href="../../static/datadriver/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"
          th:href="@{/datadriver/plugins/select2/css/select2-bootstrap.min.css}"/>

    <link href="../../static/datadriver/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
          th:href="@{/datadriver/plugins/bootstrap-select/css/bootstrap-select.min.css}"/>
    <!-- END TEMPLATES & PLUGINS -->

</head>
<body layout:fragment="content">

世界各国是指世界上各个国家，截至2019年，世界上共有233个国家和地区，其中国家有195个，地区有38个。

</body>
</html>